<h2><b>記事名： <%=  @article.title%></b><h2>

<p>本文:   <%=  @article.body%></p>

<p>
  <%= link_to "一覧へ戻る",articles_path(@article) %></p>
  <%= link_to "編集",edit_article_path(@article) %></p>
  <%= link_to "削除",article_path(@article), method: :delete, data: {confirm: '削除してよろしいですか？'} %>
</p>
